{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<!--cm-banner area start here-->
<section class="cm-banner-area relative">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cm-banner-content d-flex justify-content-between align-items-center">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us-wrapper pt-50 pt-md-30 pb-100 pb-md-60 relative">
    <div class="contact-heading text-center mx-w-700 m-auto pb-50 pb-md-30 get-bottom animate">
        <div class="section-title pb-25 animate">
            <h2>{% translate 'Thank you for your submission. We will contact you shortly.' %}</h2>
        </div>
    </div>
</section>
<!--contact us style end here-->
{% endblock content %}