{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<!--banner area start here-->
<section class="banner-area relative">
    <div class="banner-circle">
        <img class="circle" src="images/circle.png" alt>
        <img class="small-circle" src="images/small-circle.png" alt>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-content get-left animate">
                    <h1 class="animate">NCP ICI BUCHAREST</h1>
                    <div class="animate">
                        <p class="mx-width-75p pt-20 animate">The mission of the NCP Unit is to provide information and assistance to research-innovation communities in Romania in order to participate in the Horizon Europe program.</p>
                        <a href = "{% url 'contentpage' 'fsafsa-fsafsa-fsafsa'%}">aicisea</a>
                        <div class="banner-button d-flex align-items-center mt-25 animate">
                            <button class="btn btn-lg btn-purple btn-radious mr-15">Partner Search</button>
                            <!-- <a href="#" id="exampleImage" class="height-50 width-50 btn-round btn-sky d-center" data-videourl="https://www.youtube.com/embed/ENr27Q1hKsw"><i class="icofont-ui-play text-25"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-img relative get-right animate">
                    <!-- <img src="images/banner.png" alt="banner image"> -->
                    <video src="https://ici.ro/static/images/ici_video_cmpr.5f7545ff51aa.mp4" autoplay="" loop="" muted="" playsinline="" class="video-desktop">
                    </video>
                    <!-- <div class="banner-animation">
                        <img class="bnr-heart" src="images/heart.png" alt>
                        <img class="bnr-like-red" src="images/like-red.png" alt>
                        <img class="bnr-message" src="images/message.png" alt>
                        <img class="bnr-like" src="images/like-01.png" alt>
                        <span class="round-md"></span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--banner area end here-->

<!--features area start here-->
<section class="features-area section-bg-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title pb-70 text-center pb-md-50 get-bottom animate"> 
                        <h2>WP 2023-2024</h2>
                        <h4>Work programmes (WP) Horizon Europe 2023 - 2024</h4>
                        <h5><a href="#">Read more</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-4 m-auto">
                <div class="feature-card bg-white white-shadow p-40 p-sm-25 radious-10 mb-md-50 mb-sm-50">
                    <div class="feature-card-content text-center  animate get-bottom">
                        <div class="card-title pb-20 pb-md-15 animate">
                            <h3>Excellent science</h3>
                        </div>
                        <p class="animate"><a href="#">ERC - European Research Council</a><br>

                            <a href="#">MSCA - Marie Sklodowska-Curie Actions</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-4 m-auto">
                <div class="feature-card bg-white white-shadow p-40 p-sm-25 radious-10 mb-md-50 mb-sm-50">
                        <div class="feature-card-content text-center animate get-bottom">
                            <div class="card-title pb-20 pb-md-15 animate">
                                <h3>Global Challenges</h3>
                            </div>
                            <p class="animate">
                                    <p class="animate"><a href="#">EIC - European Innovation Council</a><br>
                                        <a href="#">EIE - European Innovation Ecosystems</a><br>
                                        <a href="#">EIT - European Institute for Innovation and Technology</a>
                                    </p>
                            </p>
                        </div>
                    </div>
            </div>
            <div class="col-md-8 col-lg-4 m-auto">
                <div class="feature-card bg-white white-shadow p-40 p-sm-25 radious-10 mb-md-0">
                    <div class="feature-card-content text-center animate get-bottom">
                        <div class="card-title pb-20 pb-md-15 animate">
                            <h3>Innovative Europe</h3>
                        </div>
                        <p class="animate">
                            <p class="animate"><a href="#">ERC - European Research Council</a><br>

                                <a href="#">MSCA - Marie Sklodowska-Curie Actions</a></p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--features area end here-->

<!--seo-servic area start here-->
<section class="seo-service-area pb-50 pb-md-30 relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="seo-service-content get-bottom animate">
                    <div class="section-title pb-20 animate"> 
                        <h2>National Contact Points (NCPs) for Horizon Europe</h2>
                    </div>
                    <h4 class="pb-20">What we do:</h4>
                    <!-- <p class="pb-50 pb-md-30 mx-width-90p mx-md-width-100p animate"> -->
                        <ul class="pb-50 pb-md-30 mx-width-90p mx-md-width-100p " style="list-style: unset; margin-left: 2em;">
                            <li><b>Inform & raise awareness</b> on general and specific conditions in Horizon Europe, including funding opportunities</li>
                            <li><b>Assist, advise and train organizations</b> with a view to increasing and improving their participation in Horizon Europe</li>
                        </ul>
                    <!-- </p> -->
                    <div class="animate">
                        <button class="btn btn-purple btn-sm text-capital btn-radious">Read more</button>
                    </div>
                </div>
            </div> 
            <div class="seo-img-area">
                <div class="seo-banner-img">
                    <img class="sv-svp" src="https://horizoneuropencpportal.eu/sites/default/files/styles/scale_global_middle/public/2022-05/com-training.png?itok=5-YoitJf" alt>
                </div>
            </div>
        </div>
    </div>
</section>
<!--seo-servic area end here-->

<!--prefer area start here-->
<section class="prefer-area section-padding relative" style="margin-bottom: 100px; margin-top: 50px;">
    <div class="prefer-bg-image">
        <img class="prefer-man" src="https://horizoneuropencpportal.eu/sites/default/files/styles/scale_global_/public/2023-02/ec_rtd_eu-missions-general-banner.jpg?itok=Rle77kA6" alt>
        <img class="prefer-bg" src="images/future-bg.png" alt>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="prefer-content">
                    <div class="prefer-heading pb-50 pb-md-30 get-bottom animate">
                        <div class="section-title pb-15 animate"> 
                            <h2>Widening participation and Strengthening the ERA</h2>
                        </div>
                        <!-- <p class="animate">Degree ducks. Be no phase a who to suggests to her his and to that the copy a city time when their cognitive set pass may is and the be provide a some it hired contribution tyrannize.
                        </p> -->
                    </div>
                    <div class="prefer-list ">
                        <ul class="get-bottom animate">
                            <li class="pb-20 regular-text before-round before-purple pl-35 animate">
                                Other HEu Clusters <a href="#">(Read more)</a>
                            </li>
                            <li class="pb-20 regular-text before-round before-purple pl-35 animate">
                                EU Missions <a href="#">(Read more)</a>
                            </li>
                            <li class="regular-text before-round before-purple pl-35 animate">
                                EU Partnership <a href="#">(Read more)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--prefer area end here-->

<!--blog area start here-->
<section class="blog-area pb-100 pb-md-60 pt-50 pt-md-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-heading pb-80 pb-md-50 pb-sm-25 animate get-bottom">
                    <div class="section-title animate">
                        <h2 class="pb-20">Latest News</h2>
                    </div>
                    <p class="animate">The complete news list can be accessed <a href="/news.html" title="Announcements">here</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-md-30 animate get-left">
                <div class="single-blog radious-10 bg-white border-shadow">
                    <!-- <div class="single-blog-img radious-10">
                        <img src="images/blog1.png" alt>
                    </div> -->
                    <div class="single-blog-content p-20">
                        <div class="blog-title animate get-bottom">
                            <h4>
                                <a href class="pb-10">Forthcoming NCP webinar - ERA Dialogue (16 Feb. 2023, 10.00-12.00).</a>
                            </h4>
                        </div>
                        <p class="text-14 animate get-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in ultrices lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p><br>
                        <p class="text-14 animate get-bottom">19 Jan 2023</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-md-30 animate get-bottom">
                <div class="single-blog radious-10 bg-white border-shadow">
                    <!-- <div class="single-blog-img radious-10">
                        <img src="images/blog2.png" alt>
                    </div> -->
                    <div class="single-blog-content p-20">
                        <div class="blog-title animate get-bottom">
                            <h4>
                                <a href class="pb-10">Forthcoming brokerage events (CL1, CL2, CL4, CL5)</a>
                            </h4>
                        </div>
                        <p class="text-14 animate get-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in ultrices lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p><br>
                        <p class="text-14 animate get-bottom">12 Jan 2023</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 animate get-right">
                <div class="single-blog radious-10 bg-white border-shadow mb-md-0">
                    <!-- <div class="single-blog-img radious-10">
                        <img src="images/blog3.png" alt>
                    </div> -->
                    <div class="single-blog-content p-20">
                        <div class="blog-title animate get-bottom">
                            <h4>
                                <a href class="pb-10">On-going registration and matchmaking within past Brokerage events (CL6, ERA)</a>
                            </h4>
                        </div>
                        <p class="text-14 animate get-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in ultrices lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p><br>
                        <p class="text-14 animate get-bottom">12 Jan 2023</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--blog area end here-->
{% endblock content %}