{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<!--banner area start here-->
<section class="banner-area relative">
    <div class="banner-circle">
        <!-- <img class="circle" src="images/circle.png" alt>
        <img class="small-circle" src="images/small-circle.png" alt> -->
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-content get-left animate">
                    <h1 class="animate">{% translate 'NCP@ICI BUCHAREST' %} </h1>
                    <div class="animate">
                        <p class="mx-width-75p pt-20 animate">{% translate 'Welcome to the platform dedicated to Cluster 4 - Digital within Horizon Europe!' %}</p>
                        <p class="mx-width-75p pt-20 animate">{% translate 'We support digital innovation in Europe by providing essential information about funding opportunities, participation requirements, and useful resources for all those involved in research and innovation projects.' %}</p>
                        <p class="mx-width-75p pt-20 animate">{% translate "Cluster 4 - Digital, Industry, and Space focuses on accelerating digital transformation, developing emerging technologies, and strengthening Europe's competitiveness in these strategic areas." %}</p>
                        <p class="mx-width-75p pt-20 animate">{% translate 'Whether you are a researcher, SME, large company, public institution, or NGO, here you will find the support you need to navigate Horizon Europe calls and maximize your chances of success.' %}</p>
                        <div class="prefer-list mt-4">
                            <h4 class="pb-20">{% translate 'Explore:' %}</h4>
                            <ul class="get-bottom animate">
                                <li class="pb-20 regular-text before-round before-purple pl-35 animate">{% translate 'Information about eligibility and types of participants for Horizon Europe calls;' %}</li>
                                <li class="pb-20 regular-text before-round before-purple pl-35 animate">{% translate 'Tools to help you find the right partners;' %}</li>
                                <li class="pb-20 regular-text before-round before-purple pl-35 animate">{% translate 'Resources dedicated to Cluster 4, tailored to the needs of the digital sector;' %}</li>
                                <li class="pb-20 regular-text before-round before-purple pl-35 animate">{% translate 'Relevant news and events to keep you connected with the latest trends.' %}</li>
                                <li class="pb-20 regular-text before-round before-purple pl-35 animate">{% translate 'Together, we contribute to a more sustainable and competitive digital future!' %}</li>
                            </ul>
                        </div>
                        <!-- <a href = "{% url 'filestorage' 'blue-fog'%}">Slug link</a>
                        <img src="{% url 'filestorage' 'blue-fog'%}"> -->
                        <div class="banner-button d-flex align-items-center mt-25 animate">
                            <!-- <button class="btn btn-lg btn-purple btn-radious mr-15">Partner Search</button> -->
                            <!-- <a href="#" id="exampleImage" class="height-50 width-50 btn-round btn-sky d-center" data-videourl="https://www.youtube.com/embed/ENr27Q1hKsw"><i class="icofont-ui-play text-25"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-img relative get-right animate">
                    <!-- <img src="images/banner.png" alt="banner image"> -->
                    <video src="https://ici.ro/static/images/ici_video_cmpr.5f7545ff51aa.mp4" autoplay="" loop="" muted="" playsinline="" class="video-desktop">
                    </video>
                    <!-- <div class="banner-animation">
                        <img class="bnr-heart" src="images/heart.png" alt>
                        <img class="bnr-like-red" src="images/like-red.png" alt>
                        <img class="bnr-message" src="images/message.png" alt>
                        <img class="bnr-like" src="images/like-01.png" alt>
                        <span class="round-md"></span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--banner area end here-->

<!--features area start here-->
<section class="features-area section-bg-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title pb-70 text-center pb-md-50 get-bottom animate"> 
                        <h2>WP 2023-2024</h2>
                        <h4>{% translate 'Work programmes (WP) Horizon Europe 2023 - 2024' %} </h4>
                        <h5><a href="#">{% translate 'Read more' %}</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-4 m-auto">
                <div class="feature-card bg-white white-shadow p-40 p-sm-25 radious-10 mb-md-50 mb-sm-50">
                    <div class="feature-card-content text-center  animate get-bottom">
                        <div class="card-title pb-20 pb-md-15 animate">
                            <h3>Excellent science</h3>
                        </div>
                        <p class="animate">
                            <a href="https://erc.europa.eu/homepage">{% translate 'ERC - European Research Council' %}</a><br>
                            <a href="https://marie-sklodowska-curie-actions.ec.europa.eu/">{% translate 'MSCA - Marie Sklodowska-Curie Actions' %}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-4 m-auto">
                <div class="feature-card bg-white white-shadow p-40 p-sm-25 radious-10 mb-md-50 mb-sm-50">
                        <div class="feature-card-content text-center animate get-bottom">
                            <div class="card-title pb-20 pb-md-15 animate">
                                <h3>{% translate 'Global Challenges' %}</h3>
                            </div>
                            <p class="animate">
                                    <p class="animate"><a href="https://eic.ec.europa.eu/index_en">{% translate 'EIC - European Innovation Council' %}</a><br>
                                        <a href="https://eismea.ec.europa.eu/programmes/european-innovation-ecosystems_en">{% translate 'EIE - European Innovation Ecosystems' %}</a><br>
                                        <a href="https://www.eit.europa.eu/">{% translate 'EIT - European Institute for Innovation and Technology' %}</a>
                                    </p>
                            </p>
                        </div>
                    </div>
            </div>
            <div class="col-md-8 col-lg-4 m-auto">
                <div class="feature-card bg-white white-shadow p-40 p-sm-25 radious-10 mb-md-0">
                    <div class="feature-card-content text-center animate get-bottom">
                        <div class="card-title pb-20 pb-md-15 animate">
                            <h3>{% translate 'Innovative Europe' %}</h3>
                        </div>
                        <p class="animate">
                            <a href="https://erc.europa.eu/homepage">{% translate 'ERC - European Research Council' %}</a><br>
                            <a href="https://marie-sklodowska-curie-actions.ec.europa.eu/">{% translate 'MSCA - Marie Sklodowska-Curie Actions' %}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--features area end here-->

<!--seo-servic area start here-->
<section class="seo-service-area pb-50 pb-md-30 relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="seo-service-content get-bottom animate">
                    <div class="section-title pb-20 animate"> 
                        <h2>{% translate 'National Contact Points (NCPs) for Horizon Europe' %}</h2>
                    </div>
                    <h4 class="pb-20">{% translate 'What we do:' %}</h4>
                    <!-- <p class="pb-50 pb-md-30 mx-width-90p mx-md-width-100p animate"> -->
                        <ul class="pb-50 pb-md-30 mx-width-90p mx-md-width-100p " style="list-style: unset; margin-left: 2em;">
                            <li><b>{% translate 'Inform & raise awareness' %}</b> {% translate 'on general and specific conditions in Horizon Europe, including funding opportunities' %} </li>
                            <li><b>{% translate 'Assist, advise and train organizations' %} </b> {% translate 'with a view to increasing and improving their participation in Horizon Europe' %}</li>
                        </ul>
                    <!-- </p> -->
                    <div class="animate">
                        <button class="btn btn-purple btn-sm text-capital btn-radious">{% translate 'Read more' %}</button>
                    </div>
                </div>
            </div> 
            <div class="seo-img-area">
                <div class="seo-banner-img">
                    <img class="sv-svp" src="{% static 'images/com-training.png' %}" alt>
                </div>
            </div>
        </div>
    </div>
</section>
<!--seo-servic area end here-->

<!--prefer area start here-->
<section class="prefer-area section-padding relative" style="margin-bottom: 100px; margin-top: 50px;">
    <div class="prefer-bg-image">
        <img class="prefer-man" src="{% static 'images/com-training.png' %}" alt>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="prefer-content">
                    <div class="prefer-heading pb-50 pb-md-30 get-bottom animate">
                        <div class="section-title pb-15 animate"> 
                            <h2>{% translate 'Widening participation and Strengthening the ERA' %}</h2>
                        </div>
                        <!-- <p class="animate">Degree ducks. Be no phase a who to suggests to her his and to that the copy a city time when their cognitive set pass may is and the be provide a some it hired contribution tyrannize.
                        </p> -->
                    </div>
                    <div class="prefer-list ">
                        <ul class="get-bottom animate">
                            <li class="pb-20 regular-text before-round before-purple pl-35 animate">
                                {% translate 'Other HEu Clusters' %} <a href="#"> ({% translate 'Read more' %})</a>
                            </li>
                            <li class="pb-20 regular-text before-round before-purple pl-35 animate">
                                {% translate 'EU Missions' %} <a href="#">({% translate 'Read more' %})</a>
                            </li>
                            <li class="regular-text before-round before-purple pl-35 animate">
                                {% translate 'EU Partnership' %} <a href="#">({% translate 'Read more' %})</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--prefer area end here-->

<!--blog area start here-->
<section class="blog-area pb-100 pb-md-60 pt-50 pt-md-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-heading pb-80 pb-md-50 pb-sm-25 animate get-bottom">
                    <div class="section-title animate">
                        <h2 class="pb-20">{% translate 'Latest News' %}</h2>
                    </div>
                    <p class="animate">{% translate 'The complete news list can be accessed' %} <a href="{% url 'news' %}" title="Announcements">{% translate 'here' %}</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in news %}
            <div class="col-lg-4 mb-md-30 animate get-left">
                <div class="single-blog radious-10 bg-white border-shadow">
                    <!-- <div class="single-blog-img radious-10">
                        <img src="images/blog1.png" alt>
                    </div> -->
                    <div class="single-blog-content p-20">
                        <div class="blog-title animate get-bottom">
                            <h4>
                                <a href="{{i.get_absolute_url}}" class="pb-10">{{i.title}}</a>
                            </h4>
                        </div>
                        <p class="text-14 animate get-bottom">{{i.short_description}}</p><br>
                        <p class="text-14 animate get-bottom">{{i.date_published|date:"d M, Y" }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--blog area end here-->
{% endblock content %}