{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>ICI NCP
    {% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
            {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
    {% endblock %}
    </title>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/' %}"> -->
    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>
<body>
    {% block content %}
    
    {% endblock content %}
<script>
</script>
    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>