
{{eoi}} <br>

<b>Nume:</b> {{eoi.first_name}} <br>
<b>Prenume:</b> {{eoi.last_name}} <br>
<b>email:</b> {{eoi.email}} <br>
<b>Pozitie in organizație:</b> {{eoi.organization_pozition}} <br>
<b>Numele organizației:</b> {{eoi.organization_name}} <br>
<b>Acronimul organizației:</b> {{eoi.organization_acronym}} <br>
<b>Scurtă descriere a organizației:</b> {{eoi.organization_short_description}} <br>
<b>Arii de cercetare:</b> {{eoi.research_fields}} <br>
<b>Cuvinte cheie:</b> {{eoi.key_words}} <br>

<br>
<b>Programe de interes:</b> <br>
{% for hepoi in eoi.hepoi.values %}
    {{hepoi.name}} - {{hepoi.description}} <br>
{% endfor %}
<br>

<b>Scurtă descriere a departamentului: </b>{{eoi.department_short_description}} <br>
<b>Abilități și compenențe: </b>{{eoi.skills_competences}} <br>
<b>Publicații științifice: </b>{{eoi.scientific_publication}} <br>
<b>Proiecte conexe: </b>{{eoi.related_projects}} <br>
<b>Realizări: </b>{{eoi.achievements}} <br>
<b>Alte informații: </b>{{eoi.other}} <br>